@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/SyneMono-Regular.woff2) format('woff2');
}

body {
  background-color: #3b404e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Syne', sans-serif;
}

body.waiting * {
  cursor: progress;
}

#board {
  margin-bottom: calc(50px * var(--f));
  margin-top: calc(50px * var(--f));
  display: grid;
  grid-template-columns:
    calc(115px * var(--f)) calc(115px * var(--f)) calc(115px * var(--f))
    calc(115px * var(--f)) calc(115px * var(--f)) calc(115px * var(--f));
  grid-template-rows:
    calc(115px * var(--f)) calc(115px * var(--f)) calc(115px * var(--f))
    calc(115px * var(--f)) calc(115px * var(--f)) calc(115px * var(--f));
  grid-gap: 1rem;
  grid-area: board;
}

.panel {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#panel_left {
  grid-area: panel_left;
}

#panel_right {
  grid-area: panel_right;
}

#wrapper {
  grid-area: wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 8fr 2fr 1fr;
}

/* OTHER STYLES */

#container {
  display: grid;
  grid-gap: calc(10px * var(--f));
  grid-template-columns: calc(400px * var(--f)) calc(1200px * var(--f)) calc(
      400px * var(--f)
    );
  grid-template-rows: 95vh;
  grid-template-areas: 'panel_left wrapper panel_right';
}

.itemorg {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 calc(10px * var(--f)) calc(20px * var(--f)) rgba(0, 0, 0, 0.19),
    0 calc(6px * var(--f)) calc(6px * var(--f)) rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: calc(10px * var(--f));
  border: calc(2px * var(--f)) solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemblue {
  background-color: blue;
  background-image: linear-gradient(130deg, blue 0%, blue 20%, white 100%);
  box-shadow: 0 calc(10px * var(--f)) calc(20px * var(--f)) rgba(0, 0, 0, 0.19),
    0 calc(6px * var(--f)) calc(6px * var(--f)) rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: calc(10px * var(--f));
  border: calc(2px * var(--f)) solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemred {
  background-color: red;
  background-image: linear-gradient(130deg, red 0%, red 20%, white 100%);
  box-shadow: 0 calc(10px * var(--f)) calc(20px * var(--f)) rgba(0, 0, 0, 0.19),
    0 calc(6px * var(--f)) calc(6px * var(--f)) rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: calc(10px * var(--f));
  border: calc(2px * var(--f)) solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemblank {
  background-color: #0d1f50;
  box-shadow: 0 calc(10px * var(--f)) calc(20px * var(--f)) rgba(0, 0, 0, 0.19),
    0 calc(6px * var(--f)) calc(6px * var(--f)) rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: calc(10px * var(--f));
  border: calc(2px * var(--f)) solid #171717;
}

.item {
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Syne', sans-serif;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.item:hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}

.frame {
  border: calc(6px * var(--f)) solid yellow;
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
}

.turn {
  border: calc(4px * var(--f)) solid yellow;
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
}

.box {
  background-color: #0d1f50;
  color: #fff;
  border-radius: calc(10px * var(--f));
  border: 1px solid #171717;
  padding: calc(10px * var(--f));
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bbox {
  background-color: #0d1f50;
  color: #fff;
  padding: calc(10px * var(--f));
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Syne', sans-serif;
  font-size: 1em;
  text-align: center;

}

.tied {
  width: calc(200px * var(--f));
  height: calc(200px * var(--f));
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Syne', sans-serif;
}

.winner {
  width: calc(250px * var(--f));
  height: calc(250px * var(--f));
  font-size: calc(60px * var(--f));
  font-weight: 500;
  font-family: 'Syne', sans-serif;
}

.loser {
  width: calc(150px * var(--f));
  height: calc(150px * var(--f));
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Syne', sans-serif;
}

.pass {
  width: calc(40px * var(--f));
  height: calc(40px * var(--f));
  border-radius: calc(15px * var(--f));
  font-size: calc(20px * var(--f));
  font-weight: 1000;
}

.itemwin {
  width: calc(100px * var(--f));
  height: calc(100px * var(--f));
  border-radius: calc(40px * var(--f));
  background-color: goldenrod;
  background-image: linear-gradient(130deg, goldenrod 0%, gold 20%, white 100%);
  box-shadow: 0 calc(10px * var(--f)) calc(20px * var(--f)) rgba(0, 0, 0, 0.19),
    0 calc(6px * var(--f)) calc(6px * var(--f)) rgba(0, 0, 0, 0.23);
  color: #fff;
  border: calc(2px * var(--f)) solid #171717;
}

.player_select {
  font-size: 0.6em;
  font-weight: 300;
  padding: 0.6em;
  margin: 0.6em;
  background-color: #3b404e;
  background-image: linear-gradient(
    130deg,
    #3b404e 0%,
    #3b404e 20%,
    black 100%
  );
  color: #eee8a9;
  font-family: 'Syne', sans-serif;
  border: 1px solid;
  border-radius: 0.5em;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: calc(250px * var(--f));
  vertical-align: bottom;
}
.player_select:hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}

.action_button {
  font-size: calc(15px * var(--f));
  font-weight: 300;
  padding: 0.8em;
  margin: 1.1em;
  background-color: #3b404e;
  background-image: linear-gradient(
    130deg,
    #3b404e 0%,
    #3b404e 20%,
    black 100%
  );
  color: #eee8a9;
  font-family: 'Syne', sans-serif;
  border: 1px solid;
  border-radius: 1em;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: calc(150px * var(--f));
}

.action_disabled {
  background-color: #eee8a9;
  background-image: linear-gradient(
    130deg,
    #eee8a9 0%,
    #eee8a9 20%,
    white 100%
  );
  color: #3b404e;
}

.action_button:not(.action_disabled):hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}

#peak {
  font-family: 'Syne', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  font-style: italic;
}

#impressum {
  font-family: 'Syne', sans-serif;
  font-size: calc(14px * var(--f));
  text-align: center;
}

.banner {
  font-size: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 0.2em;
}
.intro {
  background: #3b404e;
  color: #eee8a9;
  padding: 5px 0;
  border-radius: 2em;
}
.subtitle {
  font-size: 0.8em;
  color: #eee8a9;
  padding: 5px 0;
  border-radius: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 0.1em;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: calc(10px * var(--f));
  /*
  margin-bottom: 20px;
  */
}
a {
  color:#ebe175;
  text-decoration: none;
  transition: text-decoration 0.5s;
}

a:hover {
  text-decoration: underline wavy #eee8a9;
}
.small_link {
  margin-top: 2em;
  font-size: calc(12px * var(--f));
}