@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SyneMono-Regular.woff2) format('woff2');
}

#board {
  margin-bottom:50px;
  margin-top:50px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-gap: 1rem;
  grid-area: board;
}

.panel {
  display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

#panel_left {
  grid-area: panel_left;
}

#panel_right {
  grid-area: panel_right;
}

#wrapper {
  grid-area: wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 10fr 1fr;
}

/* OTHER STYLES */

body {
  background-color: #3b404e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 400px 800px 400px;
  grid-template-rows: 95vh;
  grid-template-areas: 'panel_left wrapper panel_right';
}

.itemorg {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemblue {
  background-color: blue;
  background-image: linear-gradient(130deg, blue 0%, blue 20%, white 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemred {
  background-color: red;
  background-image: linear-gradient(130deg, red 0%, red 20%, white 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #171717;
  display: flex;
  /*this centers the text horizontally*/
  justify-content: center;
  /*this centers the text vertically*/
  align-items: center;
}

.itemblank {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #171717;
}

.item{
  font-size: 40px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.item:hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}

.frame {
  border: 4px solid yellow;
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
}

.box {
  background-color: #0d1f50;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #171717;
  padding: 10px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bbox {
  background-color: #0d1f50;
  color: #fff;
  padding: 10px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tied {
  width: 200px;
  height: 200px;
  font-size: 60px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.winner {
  width: 250px;
  height: 250px;
  font-size: 60px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.loser {
  width: 150px;
  height: 150px;
  font-size: 60px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
}

.pass {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.itemwin {
  width: 100px;
  height: 100px;
  border-radius: 40px;
  background-color: goldenrod;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border: 2px solid #171717;
}

.player_select {

  font-size: 15px;
  font-weight: 300;
  padding: 1em;
  margin: 1em;
  background-color: #3b404e;
  color: #eee8a9;
  font-family: "Syne", sans-serif;
  border: 1px solid;
  border-radius: 0.5em;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  width:180px;
  vertical-align: bottom;
}
.player_select:hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}

.action_button {
  font-size: 20px;
  font-weight: 500;
  padding: 1em;
  margin: 1em;
  background-color: #3b404e;
  color: #eee8a9;
  font-family: "Syne", sans-serif;
  border: 1px solid;
  border-radius: 1em;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  width:150px;
}

.action_disabled {
  background-color:  #eee8a9;
  color: #3b404e;
}

.action_button:not(.action_disabled):hover {
  box-shadow: 0 0.5em 0.5em -0.3em black;
  transform: translateY(-0.25em);
  color: white;
  border-color: white;
}
 
#peak{
  font-family: "Syne", sans-serif;
  font-size: 100px;
  font-weight: 500;
  font-style: italic; 
}

